<%= form_with(model: twite, local: true) do |form| %>
  <% if twite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(twite.errors.count, "error") %> prohibited this twite from being saved:</h2>

      <ul>
        <% twite.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <%= form.label :twite_pictures %>
    <%= form.file_field :twite_pictures, multiple: true, direct_upload:true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
