<p id="notice"><%= notice %></p>

<h1>Twites</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twites.each do |twite| %>
      <tr>
        <td><%= twite.body %></td>
        <td><%= twite.user_id %></td>
        <td><%= link_to 'Show', twite %></td>
        <td><%= link_to 'Edit', edit_twite_path(twite) %></td>
        <td><%= link_to 'Destroy', twite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twite', new_twite_path %>
