<p>
  <strong>Body:</strong>
  <%= @twite.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @twite.user_id %>
</p>

<% if current_user.id == @twite.user_id %>
  <%= link_to 'Edit', edit_twite_path(@twite) %> |
<% end %>
<%= link_to 'Back', twites_path %>

<h2>Filthy Comments Section</h2>
<% @twite.comments.each do |comment| %>
  <p><%= comment.body %></p>
  <% if current_user.id == comment.user_id || current_user.id == @twite.user_id %>
    <%= link_to "Delete", "/twites/#{@twite.id}/comments/#{comment.id}", method: :delete  %>
  <% end %>
<% end %>


<%= form_with(model: Comment.new, local: true, url: "/twites/#{@twite.id}/comments") do |form| %>
  <div>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>


